USE [BI_Academic]
GO
/****** Object:  Table [DW].[PublicEngatementMeeting]    Script Date: 07/11/2014 15:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DW].[PublicEngatementMeeting](
	[AveDelegates] [float] NULL,
	[NoMeetings] [int] NULL,
	[FinancialYear] [int] NULL
) ON [PRIMARY]

GO
