USE [BI_Academic]
GO
/****** Object:  Table [DW].[SectionMembersCount]    Script Date: 07/11/2014 15:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [DW].[SectionMembersCount](
	[DEPNO] [varchar](6) NULL,
	[SectionMembers] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
