USE [BI_Academic]
GO
/****** Object:  StoredProcedure [DW].[SSRS_PublicEngatementMeeting]    Script Date: 07/11/2014 15:17:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create proc [DW].[SSRS_PublicEngatementMeeting]
as

select *
from  DW.PublicEngatementMeeting


GO
